html {
  background: #eff2f1;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16.5px;
  line-height: 1.2em;
}

article {
  display: block;
  min-width: 600px;
  max-width: 700px;
  width: 100%;
}

article {
  margin: 2.5em auto 0 auto;
  padding: 2em;
  background: #fff;
  color: #black;
}

h1 {
  margin-top: 0;
}

footer {
  display: block;
  min-width: 360px;
  max-width: 900px;
  width: 80%;
}

footer {
  margin: 0em auto 2em auto;
  text-align: center;
}

footer a {
  color: #666;
  text-decoration: none;
  font-size: .8em;
  padding: 1em;
}

footer a:hover, footer a:focus {
  color: #111;
}

h1 {
  font-weight: normal;
  display: inline;
  padding: 0 0 3px 0;
  line-height: 36px;
}

a {
  color: #38488f;
  text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

a:active {
  color: #000;
}

:-moz-any-link:focus {
  color: #000;
  border: 0;
}

::selection {
  background: #6b9ac4;
  color: #eff2f1;
}

#gravatar {
  position: relative;
  float: right;
  margin-bottom: 1em;
  margin-left: 1em;
  border-radius: 15px;
}
